@import "../variable.less";
@import "../property.less";

.head {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    background-color: @headBgColor;
    box-sizing: border-box;
    .text {
        color: @defaultColor;
    }
    .h(40);
    .lh(40);
    padding: 0 8px;

    .custom {
        background-color: @warnColor;
        border-color: @warnColor;
        border-style: dashed;
        color: @defaultColor;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 10px;
        width: 70px;
        height: 22px;
        margin: auto;
    }

    .back-btn {
        font-size: 20px;
        width: 1rem;
        left: 0;
    }
}
