@defaultColor: #ffffff;
@defaultFontColor: #333333;
@headBgColor: #12d5b5;
@warnColor: #feae11;
@salaryColor: rgba(255, 119, 0, 0.83);
@muteColor: #9f919d;
@lineColor: #d4d4d4;
@hightBgColor: #dbf9f4;
@highlightColor: #00C0B9;
@bodyBgColor: #eee;
@listLineColor: #f3f3f3;
@btnColor: #def8f5;
@dangerColor: #f30;
@tabBgColor: #f7f7f7;
@sheetBgColor: #f1f2f3;
@sheetColor: #2196f3;
